
#elementHeadergauche {
    float:left;
  }
  #elementHeaderdroite {
    float:right;
  }
  main{
    font-family:Raleway,serif;
  }
  .hebergementGauche{
    display: flex;
    align-items: auto;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: flex-start;
    background-color: rgb(242,242,242);
    border-radius: 25px;
    width:fit-content ;
    margin: 2px;
  }
  .hebergementGaucheHeaderTitre{
    align-items: left;
    display: flex;
    order: 1;
    height: 0;
    margin-left: 20px;
  }
  .partieCentreEtGaucheFigure{
    order:2;
   background-color: white; 
    border-radius: 25px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 27%;
    flex-basis: auto;
    width: auto;
  }
  .break {
    flex-basis: 100%;
    height: 0;
    width: 100%;
    padding: 0px;
  }
  .fa-star{
    color: grey;
  }
  .checked {
    color: blue;
  }
 .partieCentreEtGaucheFigureimg{   
    min-width:  211px;
    max-width: 100%;
    max-height: 100%;
    height: 100px;
    object-fit: fill;
    border-radius: 15px 15px 0 0;
 }
 .partiehebergementPopulaireFigureimg{   
    width:  120px;
    max-width: 100%;
    max-height: 100%;
    height: 170px;
    object-fit: fill;
    border-radius: 15px 0 0 15px;
    float: left;
 }
 .hebergementPopulaire{
    position: flex;
    top: 20px;
    float: right;
    background-color: rgb(242,242,242);
    border: 1px transparent;
    padding: 5px;
    border-radius: 25px;
    min-width: width 33px;   
  }
  .flexContainerGaucheEtPopulaire{
    width: 100%;
    min-height: 300px;
    margin: 0 auto;    
    display: flex; 
}
.mainDIV{
    display: flex;
    max-width: 100%;
   background-color: rgb(242,242,242);
    justify-content:
  }